* { margin: 0; padding: 0; }

header {
    margin: 10px 0;
}
.dropbtn {
    background-color: #0066cc;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
.dropdown {
display: inline-block;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
display: block;
}

.dropdown:hover .dropbtn {
background-color: #2e0dc5;
}

.slider {
display: block;
height: 293px;
width: 600px;
margin: auto;
margin-top: 20px;
position: relative;
}

.slider li {
list-style: none;
position: absolute;
}

.slider img {
margin: auto;
height: 100%;
width: 100%;
vertical-align: top;
} 

.slider input {
    display: none;
}

.slider label {
background-color: #fafafa;
bottom: 10px;
cursor: pointer;
display: block;
height: 10px;
position: absolute;
width: 10px;
z-index: 10;
}

.slider li:nth-child(1) label {
left: 10px;
}

.slider li:nth-child(2) label {
left: 40px;
}

.slider li:nth-child(3) label {
left: 70px;
}

.slider img {
  opacity: 0;
  visibility: hidden;
}

.slider li input:checked ~ img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
} 

#div1, #div2 {
    float: left;
    width: 100px;
    height: 35px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
  }